# env.config
# Файл конфигурации для deploy.sh

# Переменные для PostgreSQL
POSTGRES_USER=sixgrain
POSTGRES_PASSWORD=AllRight73!
POSTGRES_DB=postgres

# Переменные для MinIO
MINIO_USER=sixgrain
MINIO_PASSWORD=AllRight73!

# Переменные для GeoServer
GEOSERVER_ADMIN_USER=sixgrain
GEOSERVER_ADMIN_PASSWORD=AllRight73!

# Переменные для .NET приложения
ASPNETCORE_ENVIRONMENT=Production

# Переменные для путей и режима
DEPLOY_ROOT_FOLDER=/deploy/masofa
MODE=prod