#shared
MODE=local
ASPNETCORE_ENVIRONMENT=Development
DEPLOY_ROOT_FOLDER=.


#postgres
POSTGRES_PORT=20010
POSTGRES_PASSWORD=AllRight73!
POSTGRES_USER=viki

#Masofa.Web.Monolith
MONOLITH_HTTP_PORT=20020
MONOLITH_HTTPS_PORT=20021
MONOLITH_HTTP2_PORT=20022

#Masofa.Client.Dict
DICT_HTTP_PORT=20030

#minio
MINIO_HTTP_PORT=20040
MINIO_CLI_PORT=20041
MINIO_USER=sixgrain
MINIO_PASSWORD=AllRight73!

#geoserver
GEOSERVER_HTTP_PORT=20050
GEOSERVER_ADMIN_USER=sixgrain
GEOSERVER_ADMIN_PASSWORD=AllRight73!
GEOSERVER_TILES_DIR=/var/osm/mosaics